# 防止在使用一个名字为 "index" 的控制器时 Apache 会执行此目录下的 index.php。
Options -MultiViews

# 阻止 Apache 将目录结构列出来。
Options -Indexes

# 激活重写引擎，Apache 将处理以下任何规则：
RewriteEngine On

# 指定 RewriteCond 指令 检查所请求的字符串，如果被请求的文件名不存在，就执行下面的重写规则。
RewriteCond %{REQUEST_FILENAME} !-f

# 指定 RewriteCond 指令 检查所请求的字符串，如果被请求的符号链接名不存在，就执行下面的重写规则。
RewriteCond %{REQUEST_FILENAME} !-l

# 指定 RewriteCond 指令 检查所请求的字符串，如果被请求的目录名不存在，就执行下面的重写规则。
RewriteCond %{REQUEST_FILENAME} !-d

# 指定 RewriteRule 指令 匹配所有字符串替换成 index.php?url=(.+) QSA标志表示追加请求字符串，L标志表示这是执行的最后一个运行规则。
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
